:root{
    --dark-red: #d90429;
    --white-red: #fd052f;
    --transition: .3s;
    --radius: 10px;

}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;


}

/* start navbar  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f6;
    padding: 15px 60px;
    box-shadow: 0.5px 0.5px 3px rgb(205, 3, 3);
}
nav h1{
    font-size: 25px;
}
/* span{
    color: rgb(205, 3, 3);
} */
ul {
    display: flex;
    justify-content: space-between;
}
nav .linksNav ul a{
    /* display: inline-block; */
    margin: auto 20px;
    color: black;
    padding: 5px;
    transition: 0.5s;
}
nav .linksNav ul a:hover{
    border-bottom: 3px solid rgb(205, 3, 3);
    color: rgb(205, 3, 3);
}

/* end navbar */

/* start header */
header{
    padding: 60px;
    display: flex;
    align-items: center;
    min-height: 400px;
    /* bg img */
}
.contentHeader{
    width: 40%;
    padding: 10px;
}
header h2{
    margin: 40px auto 20px ;
    font-size: 40px;
    font-weight: 900;

}
header p{
    color: rgb(67, 67, 67);
    margin-bottom: 30px;
}
header a{
    margin: 40px auto;
    color: #f7f6f6;
    background-color: rgb(205, 3, 3);
    padding: 10px;
}



/* Cars section */

.car ,
.parts ,
.blog{
    text-align:center;
    width: 1200px;
    max-width: 90%;;
    margin: 0 auto;
    /* background-color: #eee; */
    word-spacing: 0px;
}

.car , 
.parts {
    margin-bottom: 200px;
}
.car h2 , 
.parts h2 ,
.blog h2{
    color: var(--dark-red);
    font-size: 30px;
    font-weight: 800;
}

.car .text-2 ,
.parts .text-2 ,
.blog .text-2 {
    font-weight: 700;;
}

.car .text-3 ,
.car .text-2 ,
.parts .text-3 , 
.parts .text-2 ,
.blog .text-2 ,
.blog .text-3{
    color: black;
    padding-bottom: 30px;
}


.car .cards {
    display: grid;
    --gap: 20px;
    grid-template-rows: repeat(3 , calc((100% - 2*var(--gap)) /3));
    grid-template-columns: repeat(3 , calc((100% - 2*var(--gap)) /3));
    gap: var(--gap);
}

.car .cards div {
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: var(--radius);
    transition: var(--transition);
}

.car .cards div:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.car .cards .car1{
    background-image: url("imgs/car1.jpg");
}
.car .cards .car2{
    background-image: url("imgs/car2.jpg");
}
.car .cards .car3{
    background-image: url("imgs/car11.jpg");
}
.car .cards .car4{
    background-image: url("imgs/car4.jpg");
}
.car .cards .car5{
    background-image: url("imgs/car12.jpg");
}
.car .cards .car6{
    background-image: url("imgs/car13.jpg");
}
.car .cards .car7{
    background-image: url("imgs/car7.jpg");
}
.car .cards .car8{
    background-image: url("imgs/car14.jpg");
}
.car .cards .car9{
    background-image: url("imgs/car16.jpeg");
}


.car .cards .btn{
    background-color: #eee;
    width: 100px;
    height: 50px;
    border-radius: var(--radius);
    border: solid 1px transparent;
    transition: var(--transition);
    font-size: 18px;;
    color: var(--dark-red);
    position: relative;
    left: -100px;
    top: 230px;
}

.car .cards .btn:hover{
    background-color: var(--dark-red);
    color: #eee;
    cursor: pointer;
}

/* end cars section */

/* start parts section (note:- there exist common properties with cars section )*/
.parts .cards {
    display: grid;
    --gap: 20px;
    grid-template-rows: repeat(2 , calc((100% - 2*var(--gap)) /2));
    grid-template-columns: repeat(3 , calc((100% - 2*var(--gap)) /3));
    gap: var(--gap);
}


.parts .cards .part1{
    background-image: url("imgs/part1.png");
}
.parts .cards .part2{
    background-image: url("imgs/part2.png");
}
.parts .cards .part3{
    background-image: url("imgs/part3.png");
}
.parts .cards .part4{
    background-image: url("imgs/part4.png");
}
.parts .cards .part5{
    background-image: url("imgs/part5.png");
}
.parts .cards .part6{
    background-image: url("imgs/part6.png");
}

.parts .cards .part1 , 
.parts .cards .part2 ,
.parts .cards .part3 ,
.parts .cards .part4 ,
.parts .cards .part5 ,
.parts .cards .part6{
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    border-radius: var(--radius);
    transition: var(--transition);
    background-color: #eee;

}

.parts .content{
    margin-top: 80%;
    padding-left: 30px;
    text-align: left;
    color: var(--dark-red)
}

.parts .content h3{
    color: black;
}
.parts .content h3 ,
.parts .content .price {
    font-size: 20px;
    font-weight: 700;

}


.parts .content .rate{
    font-weight: 700;
}

.parts .buy-now{
    background-color: var(--dark-red);
    width: 100px;
    height: 50px;
    border-radius: var(--radius);
    border: solid 1px transparent;
    transition: var(--transition);
    font-size: 18px;;
    color: #eee;
    position: relative;
    left: 0px;
    top: 20px;
    margin-right: 120px;
}

.parts .buy-now:hover{
    background-color: var(--white-red);
    color: #eee;
    cursor: pointer;
}

.parts .view-more{
    width: 110px;
    color: black;
    position: relative;
    left: 200px;
    top: -25px;
    font-size: 18px;;
    transition: var(--transition);
}

.parts .view-more:hover{
    color: var(--dark-red);
    cursor: pointer;
    letter-spacing: 3px;
    width: 157px;
}

/* end parts section */

/* start blog section */

.blog .cards {
    display: grid;
    --gap: 20px;
    grid-template-rows: repeat(3 , calc((100% - 2*var(--gap)) /3));
    gap: var(--gap);
}

.blog .cards div {
    height: 300px;
    background-repeat: no-repeat;
    background-size: 30% 100%;
    border-radius: var(--radius);
    transition: var(--transition);
    background-color: #eee;
}

.blog .cards .blog1{
    background-image: url("imgs/car1.jpg");
}
.blog .cards .blog2{
    background-image: url("imgs/car2.jpg");
}
.blog .cards .blog3{
    background-image: url("imgs/car11.jpg");
}


.blog .cards .text-1{
    font-weight: 700;
    color: var(--dark-red);
    padding-left: 1000px;
    padding-top: 50px;
}

.blog .cards .text-2{
    padding-top: 50px;
    font-weight: 700;
    font-size: 20px;;
    color: var(--dark-red)
}

.blog .cards .text-3{
    text-align: left;
    padding-left: 450px;
    text-indent: 20px;;
}

.blog .btn{
    background-color: var(--dark-red);
    width: 200px;
    height: 50px;
    border-radius: var(--radius);
    border: solid 1px transparent;
    transition: var(--transition);
    font-size: 18px;;
    color: #eee;
    position: relative;
    left: 10px;
    top: -70px;
    margin-right: 120px;
}

.blog .btn:hover{
    background-color: var(--white-red);
    color: #eee;
    cursor: pointer;
    transform: scale(1.03);
}