:root{
    --dark-red: #d90429;
    --white-red: #fd052f;
    --transition: .3s;
    --radius: 10px;

}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;


}

/* start navbar  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f6;
    padding: 15px 60px;
    box-shadow: 0.5px 0.5px 3px rgb(205, 3, 3);
}
nav h1{
    font-size: 25px;
}
span{
    color: rgb(205, 3, 3);
}
ul {
    display: flex;
    justify-content: space-between;
}
nav .linksNav ul a{
    /* display: inline-block; */
    margin: auto 20px;
    color: black;
    padding: 5px;
    transition: 0.5s;
}
nav .linksNav ul a:hover{
    border-bottom: 3px solid rgb(205, 3, 3);
    color: rgb(205, 3, 3);
}

/* end navbar */

/* start header */
header{
    padding: 60px;
    display: flex;
    align-items: center;
    min-height: 400px;
    /* bg img */
}
.contentHeader{
    width: 40%;
    padding: 10px;
}
header h2{
    margin: 40px auto 20px ;
    font-size: 40px;
    font-weight: 900;

}
header p{
    color: rgb(67, 67, 67);
    margin-bottom: 30px;
}
header a{
    margin: 40px auto;
    color: #f7f6f6;
    background-color: rgb(205, 3, 3);
    padding: 10px;
}



/* Cars section */



.car{
    text-align:center;
    width: 1200px;
    max-width: 90%;;
    margin: 0 auto;
    /* background-color: #eee; */
    word-spacing: 0px;
}

.car h2{
    color: var(--dark-red);

    font-size: 30px;
    font-weight: 800;
}
.car .text-2{
    color: black;
    font-weight: 700;;
    padding-bottom: 10px;
}

.car .text-3{
    color: black;
    padding-bottom: 30px;
}


.car .cards {
    display: grid;
    --gap: 20px;
    grid-template-rows: repeat(3 , calc((100% - 2*var(--gap)) /3));
    grid-template-columns: repeat(3 , calc((100% - 2*var(--gap)) /3));
    gap: var(--gap);
}

.car .cards div{
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: var(--radius);
    transition: var(--transition);
}

.car .cards div:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.car .cards .car1{
    background-image: url("imgs/car1.jpg");
}
.car .cards .car2{
    background-image: url("imgs/car2.jpg");
}
.car .cards .car3{
    background-image: url("imgs/car11.jpg");
}
.car .cards .car4{
    background-image: url("imgs/car4.jpg");
}
.car .cards .car5{
    background-image: url("imgs/car12.jpg");
}
.car .cards .car6{
    background-image: url("imgs/car13.jpg");
}
.car .cards .car7{
    background-image: url("imgs/car7.jpg");
}
.car .cards .car8{
    background-image: url("imgs/car14.jpg");
}
.car .cards .car9{
    background-image: url("imgs/car16.jpeg");
}


.car .cards .btn{
    background-color: #eee;
    width: 100px;
    height: 50px;
    border-radius: var(--radius);
    border: solid 1px transparent;
    transition: var(--transition);
    font-size: 18px;;
    color: var(--dark-red);
    position: relative;
    left: -100px;
    top: 230px;
}

.car .cards .btn:hover{
    background-color: var(--dark-red);
    color: #eee;
    cursor: pointer;
}

/* end cars section */