*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* start navbar  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f6;
    padding: 15px 60px;
    box-shadow: 0.5px 0.5px 3px rgb(205, 3, 3);
}
nav h1{
    font-size: 25px;
}
span{
    color: rgb(205, 3, 3);
}
ul {
    display: flex;
    justify-content: space-between;
}
nav .linksNav ul a{
    /* display: inline-block; */
    margin: auto 20px;
    color: black;
    padding: 5px;
    transition: 0.5s;
}
nav .linksNav ul a:hover{
   border-bottom: 3px solid rgb(205, 3, 3);
   color: rgb(205, 3, 3);
}

/* end navbar */

/* start header */
header{
    padding: 60px;
    display: flex;
    align-items: center;
    min-height: 400px;
    /* bg img */
}
.contentHeader{
    width: 40%;
    padding: 10px;
}
header h2{
    margin: 40px auto 20px ;
    font-size: 40px;
    font-weight: 900;

}
header p{
   color: rgb(67, 67, 67);
   margin-bottom: 30px;
}
header a{
   margin: 40px auto;
   color: #f7f6f6;
   background-color: rgb(205, 3, 3);
   padding: 10px;
}